*{
    margin: 0;
    outline: none;
}

a{
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}
button{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    border: 0;
}

.quicksand-font {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  body{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

header{
    width: 100%;
    height: 102px;
    top: 0;
    left: 0;
    background: gray;
}

.h-menu{
    width: 1400px;
    height: 62px;
    margin: 20px 0 0 calc(50% - 700px);
    float: left;
    background: rgb(97, 97, 97);
}

.logo, .logo-t{
    float: left;
}

.logo-t{
    font-size: 32px;
    margin: 10px 0 0 10px;
}

.pages{
    list-style: none;
    float: left;
    width: 388px;
    text-align: center;
    margin: 18px 0 0 calc(50% - 390px);
}

.links{
    font-size: 20px;
}

.l1{
    float: left;
    color: orange;
}
.l2, .l3{
    margin: 0 15px 0 15px;
}
.l2{
    color: rgb(32, 166, 255);
}
.l3{
    color: rgb(5, 212, 223);
}
.l4{
    float: right;
    color: rgb(93, 88, 239);
}

.contact{
    width: 197px;
    height: 50px;
    float: right;
    margin: 6px 0 0 0;
    border: 0px;
    background: orange;
    color: white;
    border-radius: 12px;
    font-size: 20px;
}

.hb-menu{
    display: none;
    float: right;
}

.fa-solid, .fa-bars{
    float: right;
    font-size: 40px;
    margin: 10px 0 0 0;
}


.banner{
    width: 1400px;
    height: 575px;
    border: 0px solid black;
    margin: 0 0 0 calc(50% - 700px);
    background: rgb(150, 150, 150);
}

.banner-i{
    float: right;
    border: 0px solid black;
    background: rgb(100, 100, 100);
}

.banner-t{
    border: 0px solid black;
    width: 640px;
    height: 438px;
    margin: 137px 0 0 0;
    float: left;
    background: rgb(80, 80, 80);
}

.ban-title{
    width: auto;
    height: 230px;
    border: 1px solid black;
    margin: 0 0 0 0;
    background: rgb(129, 115, 115);
}

.ban-title h1{
    font-size: 56px;
    white-space: pre;
}

.h1-orange{
    color: orange;
}
.h1-blue{
    color: rgb(32, 166, 255);
}
.h1-black-2, .h1-blue{
    float: left;
}

.ban-p{
    font-size: 20px;
    background: rgb(158, 158, 158);
    margin: 0 13px 0 0;
    width: 100%;
}

.en{
    height: 50px;
    width: 197px;
    color: white;
    background: black;
    border-radius: 12px;
    font-size: 20px;
    margin: 20px 0 0 15px;
    border: 0;
}


.sc{
    border: 0px solid black;
    width: 1400px;
    height: 920px;
    margin: 60px 0 0 calc(50% - 700px);
    text-align: center;
    background: gray;
}
.sc-title{
    font-size: 46px;
    margin: 0 0 80px 0;
}

.sc-cards{
    width: 100%;
    height: 580px;
    border: 0px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    column-gap: 28px;
    justify-content: center;
}
.sc-card{
    border: 0px solid black;
    border-radius: 18px;
    text-align: center;
}

.sc-card-1{
    background: linear-gradient(180deg, rgb(190, 236, 255), rgb(255, 255, 255) 20%);
}

.sc-card-2{
    background:linear-gradient(180deg, rgb(255, 255, 174), white 20%);
}

.sc-card-3{
    background: linear-gradient(180deg, rgb(255, 176, 255), white 20%);
}

.sc-card img{
    width: 37%;
    margin: 10% 0 0 0;
}

.sc-card h1{
    font-size: 30px;
    margin: 20px 0 0 0;
}

.sc-card p{
    margin: 30px 30px 0 30px;
    font-size: 18px;
}

.sc-card h2{
    font-size: 18px;
    margin: 50px 0 0 0;
}

.sc-card-1 h2{
    color: rgb(5, 212, 223);
}
.sc-card-2 h2{
    color: orange;
}
.sc-card-3 h2{
    color: rgb(135, 0, 255);
}

.arrow{
    width: 60px;
    height: 60px;
    background: rgb(243, 158, 0);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    float: left;
}
.left-arrow{
    margin: 80px 0 0 calc(50% - 60px);
}
.right-arrow{
    margin: 80px 0 0 10px;
}


.os{
    width: 100%;
    height: 1090px;
    text-align: center;
    background: linear-gradient(180deg, white, rgb(255, 228, 177) 70%);
}

.os-bg{
    width: 100%;
    height: 100%;
    background: url("bg.png");
    text-align: center;
}

.os-title{
    font-size: 46px;
    margin: 60px 0 80px 0;
}

.os-grid{
    height: 760px;
    width: 1400px;
    margin: 0 0 0 calc(50% - 700px);
    display: grid;
    grid-template-columns: 48% auto;
    grid-template-rows: 1fr;
    column-gap: 20px;
    background: gray;
}

.os-g-1{
    background: white;
    border-radius: 16px;
    overflow: hidden;
    border: 0;
}

.os-grid button{
    font-family: "Raleway", sans-serif;
}

.os-g1-o-btn{
    height: 48px;
    width: 174px;
    border: 0;
    border-radius: 48px;
    background: rgb(60, 216, 232);
    color: white;
    font-size: 15px;
    position: relative;
    top: -29px;
    float: left;
    margin: 0 0 0 38px;
}

.os-g1-title{
    float: left;
    margin: 0 40px 0 40px;
    text-align: left;
    font-size: 30px;
}

.os-g1-p{
    float: left;
    text-align: left;
    margin: 30px 40px 0 40px;
    font-size: 20px;
    color: gray;
}

.os-g-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.os-g2-grid{
    background: white;
    border-radius: 16px;
    overflow: hidden;
}

.os-g2-grid button{
    position: relative;
    border: 0;
    height: 38px;
    font-size: 15px;
    border-radius: 38px;
    top: -24px;
    float: left;
    margin: 0 0 0 38px;
    color: white;
}

.os-g2-g1-btn{
    background: rgb(149, 178, 38);
    width: 174px;
}

.os-g2-g2-btn{
    width: 174px;
    background: rgb(93, 88, 240);
}

.os-g2-g3-btn{
    background: rgb(149, 178, 38);
    width: 179px;
}

.os-g2-g4-btn{
    background: rgb(149, 178, 38);
    width: 127px;
}

.os-g2-grid p{
    font-weight: 800;
    margin: 48px 38px 0 38px;
    text-align: left;
    border: 1px solid black;
    position: relative;
}

.va{
    color: white;
    background: black;
    width: 197px;
    height: 50px;
    font-size: 20px;
    border-radius: 12px;
    font-weight: bold;
    margin: 80px 0 60px 0;
}


.end{
    background: rgb(29, 135, 255);
    width: 100%;
    height: 519px;
}

.e-element{
    height: 299px;
    width: 1400px;
    border: 0px solid black;
    margin: 100px 0 0 calc(50% - 700px);
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 1fr;
    position: absolute;
    background: rgb(54, 148, 255);
}

.e-element1{
    padding: 0 0 0 20px;
}

.e-sub-element{
    border: 1px solid white;
    color: white;
}

.e-e-logo, .e-e-logo-title{
    float: left;
}

.e-e-logo-title{
    height: 83px;
    width: 200px;
    margin: 0 0 0 10px;
}

.e-e-logo-title h1{
    font-size: 42px;
    position: absolute;
    top: 0;
}

.e-e-logo-title h1:last-child{
    margin: 40px 0 0 0;
}

.e-e-p{
    margin: 150px 0 0 5px;
    font-size: 20px;
}

.abs{
    font-size: 24px;
    margin: 0 0 0 100px;
}

.e-element2 a{
    margin: 0 0 0 100px;
    color: white;
    font-size: 20px;
    font-weight: normal;
}

.kit{
    font-size: 26px;
    margin: 0 0 0 5px;
}

.e-element3 img{
    margin: 20px 0 0 5px;
}